<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="emojis" type="System.Configuration.NameValueSectionHandler" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- useful when debugging, dont announce joins/leaves to the room -->
    <add key="Stealth" value="true" />
    <add key="RouteDebugger:Enabled" value="true" />
  </appSettings>
  <emojis>
    <add value="/Content/images/emojis/bowtie.png" key=":bowtie:" />
    <add value="/Content/images/emojis/smile.png" key=":smile:" />
    <add value="/Content/images/emojis/blush.png" key=":blush:" />
    <add value="/Content/images/emojis/smiley.png" key=":smiley:" />
    <add value="/Content/images/emojis/relaxed.png" key=":relaxed:" />
    <add value="/Content/images/emojis/smirk.png" key=":smirk:" />
    <add value="/Content/images/emojis/heart_eyes.png" key=":heart_eyes:" />
    <add value="/Content/images/emojis/kissing_heart.png" key=":kissing_heart:" />
    <add value="/Content/images/emojis/kissing_face.png" key=":kissing_face:" />
    <add value="/Content/images/emojis/flushed.png" key=":flushed:" />
    <add value="/Content/images/emojis/relieved.png" key=":relieved:" />
    <add value="/Content/images/emojis/satisfied.png" key=":satisfied:" />
    <add value="/Content/images/emojis/grin.png" key=":grin:" />
    <add value="/Content/images/emojis/wink.png" key=":wink:" />
    <add value="/Content/images/emojis/wink2.png" key=":wink2:" />
    <add value="/Content/images/emojis/tongue.png" key=":tongue:" />
    <add value="/Content/images/emojis/unamused.png" key=":unamused:" />
    <add value="/Content/images/emojis/sweat.png" key=":sweat:" />
    <add value="/Content/images/emojis/pensive.png" key=":pensive:" />
    <add value="/Content/images/emojis/disappointed.png" key=":disappointed:" />
    <add value="/Content/images/emojis/confounded.png" key=":confounded:" />
    <add value="/Content/images/emojis/fearful.png" key=":fearful:" />
    <add value="/Content/images/emojis/cold_sweat.png" key=":cold_sweat:" />
    <add value="/Content/images/emojis/persevere.png" key=":persevere:" />
    <add value="/Content/images/emojis/cry.png" key=":cry:" />
    <add value="/Content/images/emojis/sob.png" key=":sob:" />
    <add value="/Content/images/emojis/joy.png" key=":joy:" />
    <add value="/Content/images/emojis/astonished.png" key=":astonished:" />
    <add value="/Content/images/emojis/scream.png" key=":scream:" />
    <add value="/Content/images/emojis/angry.png" key=":angry:" />
    <add value="/Content/images/emojis/rage.png" key=":rage:" />
    <add value="/Content/images/emojis/sleepy.png" key=":sleepy:" />
    <add value="/Content/images/emojis/mask.png" key=":mask:" />
    <add value="/Content/images/emojis/imp.png" key=":imp:" />
    <add value="/Content/images/emojis/alien.png" key=":alien:" />
    <add value="/Content/images/emojis/yellow_heart.png" key=":yellow_heart:" />
    <add value="/Content/images/emojis/blue_heart.png" key=":blue_heart:" />
    <add value="/Content/images/emojis/purple_heart.png" key=":purple_heart:" />
    <add value="/Content/images/emojis/heart.png" key=":heart:" />
    <add value="/Content/images/emojis/green_heart.png" key=":green_heart:" />
    <add value="/Content/images/emojis/broken_heart.png" key=":broken_heart:" />
    <add value="/Content/images/emojis/heartbeat.png" key=":heartbeat:" />
    <add value="/Content/images/emojis/heartpulse.png" key=":heartpulse:" />
    <add value="/Content/images/emojis/cupid.png" key=":cupid:" />
    <add value="/Content/images/emojis/sparkles.png" key=":sparkles:" />
    <add value="/Content/images/emojis/star.png" key=":star:" />
    <add value="/Content/images/emojis/star2.png" key=":star2:" />
    <add value="/Content/images/emojis/anger.png" key=":anger:" />
    <add value="/Content/images/emojis/exclamation.png" key=":exclamation:" />
    <add value="/Content/images/emojis/question.png" key=":question:" />
    <add value="/Content/images/emojis/grey_exclamation.png" key=":grey_exclamation:" />
    <add value="/Content/images/emojis/grey_question.png" key=":grey_question:" />
    <add value="/Content/images/emojis/zzz.png" key=":zzz:" />
    <add value="/Content/images/emojis/dash.png" key=":dash:" />
    <add value="/Content/images/emojis/sweat_drops.png" key=":sweat_drops:" />
    <add value="/Content/images/emojis/notes.png" key=":notes:" />
    <add value="/Content/images/emojis/musical_note.png" key=":musical_note:" />
    <add value="/Content/images/emojis/fire.png" key=":fire:" />
    <add value="/Content/images/emojis/hankey.png" key=":hankey:" />
    <add value="/Content/images/emojis/poop.png" key=":poop:" />
    <add value="/Content/images/emojis/shit.png" key=":shit:" />
    <add value="/Content/images/emojis/plus1.png" key=":+1:" />
    <add value="/Content/images/emojis/thumbsup.png" key=":thumbsup:" />
    <add value="/Content/images/emojis/-1.png" key=":-1:" />
    <add value="/Content/images/emojis/thumbsdown.png" key=":thumbsdown:" />
    <add value="/Content/images/emojis/ok_hand.png" key=":ok_hand:" />
    <add value="/Content/images/emojis/punch.png" key=":punch:" />
    <add value="/Content/images/emojis/fist.png" key=":fist:" />
    <add value="/Content/images/emojis/v.png" key=":v:" />
    <add value="/Content/images/emojis/wave.png" key=":wave:" />
    <add value="/Content/images/emojis/hand.png" key=":hand:" />
    <add value="/Content/images/emojis/open_hands.png" key=":open_hands:" />
    <add value="/Content/images/emojis/point_up.png" key=":point_up:" />
    <add value="/Content/images/emojis/point_down.png" key=":point_down:" />
    <add value="/Content/images/emojis/point_left.png" key=":point_left:" />
    <add value="/Content/images/emojis/point_right.png" key=":point_right:" />
    <add value="/Content/images/emojis/raised_hands.png" key=":raised_hands:" />
    <add value="/Content/images/emojis/pray.png" key=":pray:" />
    <add value="/Content/images/emojis/point_up_2.png" key=":point_up_2:" />
    <add value="/Content/images/emojis/clap.png" key=":clap:" />
    <add value="/Content/images/emojis/muscle.png" key=":muscle:" />
    <add value="/Content/images/emojis/metal.png" key=":metal:" />
    <add value="/Content/images/emojis/walking.png" key=":walking:" />
    <add value="/Content/images/emojis/runner.png" key=":runner:" />
    <add value="/Content/images/emojis/couple.png" key=":couple:" />
    <add value="/Content/images/emojis/dancer.png" key=":dancer:" />
    <add value="/Content/images/emojis/dancers.png" key=":dancers:" />
    <add value="/Content/images/emojis/ok_woman.png" key=":ok_woman:" />
    <add value="/Content/images/emojis/no_good.png" key=":no_good:" />
    <add value="/Content/images/emojis/information_desk_person.png" key=":information_desk_person:" />
    <add value="/Content/images/emojis/bow.png" key=":bow:" />
    <add value="/Content/images/emojis/couplekiss.png" key=":couplekiss:" />
    <add value="/Content/images/emojis/couple_with_heart.png" key=":couple_with_heart:" />
    <add value="/Content/images/emojis/massage.png" key=":massage:" />
    <add value="/Content/images/emojis/haircut.png" key=":haircut:" />
    <add value="/Content/images/emojis/nail_care.png" key=":nail_care:" />
    <add value="/Content/images/emojis/boy.png" key=":boy:" />
    <add value="/Content/images/emojis/girl.png" key=":girl:" />
    <add value="/Content/images/emojis/woman.png" key=":woman:" />
    <add value="/Content/images/emojis/man.png" key=":man:" />
    <add value="/Content/images/emojis/baby.png" key=":baby:" />
    <add value="/Content/images/emojis/older_woman.png" key=":older_woman:" />
    <add value="/Content/images/emojis/older_man.png" key=":older_man:" />
    <add value="/Content/images/emojis/person_with_blond_hair.png" key=":person_with_blond_hair:" />
    <add value="/Content/images/emojis/man_with_gua_pi_mao.png" key=":man_with_gua_pi_mao:" />
    <add value="/Content/images/emojis/man_with_turban.png" key=":man_with_turban:" />
    <add value="/Content/images/emojis/construction_worker.png" key=":construction_worker:" />
    <add value="/Content/images/emojis/cop.png" key=":cop:" />
    <add value="/Content/images/emojis/angel.png" key=":angel:" />
    <add value="/Content/images/emojis/princess.png" key=":princess:" />
    <add value="/Content/images/emojis/guardsman.png" key=":guardsman:" />
    <add value="/Content/images/emojis/skull.png" key=":skull:" />
    <add value="/Content/images/emojis/feet.png" key=":feet:" />
    <add value="/Content/images/emojis/lips.png" key=":lips:" />
    <add value="/Content/images/emojis/kiss.png" key=":kiss:" />
    <add value="/Content/images/emojis/ear.png" key=":ear:" />
    <add value="/Content/images/emojis/eyes.png" key=":eyes:" />
    <add value="/Content/images/emojis/nose.png" key=":nose:" />
    <add value="/Content/images/emojis/feelsgood.png" key=":feelsgood:" />
    <add value="/Content/images/emojis/finnadie.png" key=":finnadie:" />
    <add value="/Content/images/emojis/goberserk.png" key=":goberserk:" />
    <add value="/Content/images/emojis/godmode.png" key=":godmode:" />
    <add value="/Content/images/emojis/hurtrealbad.png" key=":hurtrealbad:" />
    <add value="/Content/images/emojis/rage1.png" key=":rage1:" />
    <add value="/Content/images/emojis/rage2.png" key=":rage2:" />
    <add value="/Content/images/emojis/rage3.png" key=":rage3:" />
    <add value="/Content/images/emojis/rage4.png" key=":rage4:" />
    <add value="/Content/images/emojis/suspect.png" key=":suspect:" />
    <add value="/Content/images/emojis/sunny.png" key=":sunny:" />
    <add value="/Content/images/emojis/umbrella.png" key=":umbrella:" />
    <add value="/Content/images/emojis/cloud.png" key=":cloud:" />
    <add value="/Content/images/emojis/snowman.png" key=":snowman:" />
    <add value="/Content/images/emojis/moon.png" key=":moon:" />
    <add value="/Content/images/emojis/zap.png" key=":zap:" />
    <add value="/Content/images/emojis/cyclone.png" key=":cyclone:" />
    <add value="/Content/images/emojis/ocean.png" key=":ocean:" />
    <add value="/Content/images/emojis/cat.png" key=":cat:" />
    <add value="/Content/images/emojis/dog.png" key=":dog:" />
    <add value="/Content/images/emojis/mouse.png" key=":mouse:" />
    <add value="/Content/images/emojis/hamster.png" key=":hamster:" />
    <add value="/Content/images/emojis/rabbit.png" key=":rabbit:" />
    <add value="/Content/images/emojis/wolf.png" key=":wolf:" />
    <add value="/Content/images/emojis/frog.png" key=":frog:" />
    <add value="/Content/images/emojis/tiger.png" key=":tiger:" />
    <add value="/Content/images/emojis/koala.png" key=":koala:" />
    <add value="/Content/images/emojis/bear.png" key=":bear:" />
    <add value="/Content/images/emojis/pig.png" key=":pig:" />
    <add value="/Content/images/emojis/cow.png" key=":cow:" />
    <add value="/Content/images/emojis/boar.png" key=":boar:" />
    <add value="/Content/images/emojis/monkey_face.png" key=":monkey_face:" />
    <add value="/Content/images/emojis/monkey.png" key=":monkey:" />
    <add value="/Content/images/emojis/horse.png" key=":horse:" />
    <add value="/Content/images/emojis/racehorse.png" key=":racehorse:" />
    <add value="/Content/images/emojis/camel.png" key=":camel:" />
    <add value="/Content/images/emojis/sheep.png" key=":sheep:" />
    <add value="/Content/images/emojis/elephant.png" key=":elephant:" />
    <add value="/Content/images/emojis/snake.png" key=":snake:" />
    <add value="/Content/images/emojis/bird.png" key=":bird:" />
    <add value="/Content/images/emojis/baby_chick.png" key=":baby_chick:" />
    <add value="/Content/images/emojis/chicken.png" key=":chicken:" />
    <add value="/Content/images/emojis/penguin.png" key=":penguin:" />
    <add value="/Content/images/emojis/bug.png" key=":bug:" />
    <add value="/Content/images/emojis/octopus.png" key=":octopus:" />
    <add value="/Content/images/emojis/tropical_fish.png" key=":tropical_fish:" />
    <add value="/Content/images/emojis/fish.png" key=":fish:" />
    <add value="/Content/images/emojis/whale.png" key=":whale:" />
    <add value="/Content/images/emojis/dolphin.png" key=":dolphin:" />
    <add value="/Content/images/emojis/bouquet.png" key=":bouquet:" />
    <add value="/Content/images/emojis/cherry_blossom.png" key=":cherry_blossom:" />
    <add value="/Content/images/emojis/tulip.png" key=":tulip:" />
    <add value="/Content/images/emojis/four_leaf_clover.png" key=":four_leaf_clover:" />
    <add value="/Content/images/emojis/rose.png" key=":rose:" />
    <add value="/Content/images/emojis/sunflower.png" key=":sunflower:" />
    <add value="/Content/images/emojis/hibiscus.png" key=":hibiscus:" />
    <add value="/Content/images/emojis/maple_leaf.png" key=":maple_leaf:" />
    <add value="/Content/images/emojis/leaves.png" key=":leaves:" />
    <add value="/Content/images/emojis/fallen_leaf.png" key=":fallen_leaf:" />
    <add value="/Content/images/emojis/palm_tree.png" key=":palm_tree:" />
    <add value="/Content/images/emojis/cactus.png" key=":cactus:" />
    <add value="/Content/images/emojis/ear_of_rice.png" key=":ear_of_rice:" />
    <add value="/Content/images/emojis/shell.png" key=":shell:" />
    <add value="/Content/images/emojis/octocat.png" key=":octocat:" />
    <add value="/Content/images/emojis/squirrel.png" key=":squirrel:" />
    <add value="/Content/images/emojis/bamboo.png" key=":bamboo:" />
    <add value="/Content/images/emojis/gift_heart.png" key=":gift_heart:" />
    <add value="/Content/images/emojis/dolls.png" key=":dolls:" />
    <add value="/Content/images/emojis/school_satchel.png" key=":school_satchel:" />
    <add value="/Content/images/emojis/mortar_board.png" key=":mortar_board:" />
    <add value="/Content/images/emojis/flags.png" key=":flags:" />
    <add value="/Content/images/emojis/fireworks.png" key=":fireworks:" />
    <add value="/Content/images/emojis/sparkler.png" key=":sparkler:" />
    <add value="/Content/images/emojis/wind_chime.png" key=":wind_chime:" />
    <add value="/Content/images/emojis/rice_scene.png" key=":rice_scene:" />
    <add value="/Content/images/emojis/jack_o_lantern.png" key=":jack_o_lantern:" />
    <add value="/Content/images/emojis/ghost.png" key=":ghost:" />
    <add value="/Content/images/emojis/santa.png" key=":santa:" />
    <add value="/Content/images/emojis/christmas_tree.png" key=":christmas_tree:" />
    <add value="/Content/images/emojis/gift.png" key=":gift:" />
    <add value="/Content/images/emojis/bell.png" key=":bell:" />
    <add value="/Content/images/emojis/tada.png" key=":tada:" />
    <add value="/Content/images/emojis/balloon.png" key=":balloon:" />
    <add value="/Content/images/emojis/cd.png" key=":cd:" />
    <add value="/Content/images/emojis/dvd.png" key=":dvd:" />
    <add value="/Content/images/emojis/camera.png" key=":camera:" />
    <add value="/Content/images/emojis/movie_camera.png" key=":movie_camera:" />
    <add value="/Content/images/emojis/computer.png" key=":computer:" />
    <add value="/Content/images/emojis/tv.png" key=":tv:" />
    <add value="/Content/images/emojis/iphone.png" key=":iphone:" />
    <add value="/Content/images/emojis/fax.png" key=":fax:" />
    <add value="/Content/images/emojis/phone.png" key=":phone:" />
    <add value="/Content/images/emojis/telephone.png" key=":telephone:" />
    <add value="/Content/images/emojis/minidisc.png" key=":minidisc:" />
    <add value="/Content/images/emojis/vhs.png" key=":vhs:" />
    <add value="/Content/images/emojis/speaker.png" key=":speaker:" />
    <add value="/Content/images/emojis/loudspeaker.png" key=":loudspeaker:" />
    <add value="/Content/images/emojis/mega.png" key=":mega:" />
    <add value="/Content/images/emojis/radio.png" key=":radio:" />
    <add value="/Content/images/emojis/satellite.png" key=":satellite:" />
    <add value="/Content/images/emojis/loop.png" key=":loop:" />
    <add value="/Content/images/emojis/mag.png" key=":mag:" />
    <add value="/Content/images/emojis/unlock.png" key=":unlock:" />
    <add value="/Content/images/emojis/lock.png" key=":lock:" />
    <add value="/Content/images/emojis/key.png" key=":key:" />
    <add value="/Content/images/emojis/scissors.png" key=":scissors:" />
    <add value="/Content/images/emojis/hammer.png" key=":hammer:" />
    <add value="/Content/images/emojis/bulb.png" key=":bulb:" />
    <add value="/Content/images/emojis/calling.png" key=":calling:" />
    <add value="/Content/images/emojis/email.png" key=":email:" />
    <add value="/Content/images/emojis/mailbox.png" key=":mailbox:" />
    <add value="/Content/images/emojis/postbox.png" key=":postbox:" />
    <add value="/Content/images/emojis/bath.png" key=":bath:" />
    <add value="/Content/images/emojis/toilet.png" key=":toilet:" />
    <add value="/Content/images/emojis/seat.png" key=":seat:" />
    <add value="/Content/images/emojis/moneybag.png" key=":moneybag:" />
    <add value="/Content/images/emojis/trident.png" key=":trident:" />
    <add value="/Content/images/emojis/smoking.png" key=":smoking:" />
    <add value="/Content/images/emojis/bomb.png" key=":bomb:" />
    <add value="/Content/images/emojis/gun.png" key=":gun:" />
    <add value="/Content/images/emojis/pill.png" key=":pill:" />
    <add value="/Content/images/emojis/syringe.png" key=":syringe:" />
    <add value="/Content/images/emojis/football.png" key=":football:" />
    <add value="/Content/images/emojis/basketball.png" key=":basketball:" />
    <add value="/Content/images/emojis/soccer.png" key=":soccer:" />
    <add value="/Content/images/emojis/baseball.png" key=":baseball:" />
    <add value="/Content/images/emojis/tennis.png" key=":tennis:" />
    <add value="/Content/images/emojis/golf.png" key=":golf:" />
    <add value="/Content/images/emojis/8ball.png" key=":8ball:" />
    <add value="/Content/images/emojis/swimmer.png" key=":swimmer:" />
    <add value="/Content/images/emojis/surfer.png" key=":surfer:" />
    <add value="/Content/images/emojis/ski.png" key=":ski:" />
    <add value="/Content/images/emojis/spades.png" key=":spades:" />
    <add value="/Content/images/emojis/hearts.png" key=":hearts:" />
    <add value="/Content/images/emojis/clubs.png" key=":clubs:" />
    <add value="/Content/images/emojis/diamonds.png" key=":diamonds:" />
    <add value="/Content/images/emojis/gem.png" key=":gem:" />
    <add value="/Content/images/emojis/ring.png" key=":ring:" />
    <add value="/Content/images/emojis/trophy.png" key=":trophy:" />
    <add value="/Content/images/emojis/space_invader.png" key=":space_invader:" />
    <add value="/Content/images/emojis/dart.png" key=":dart:" />
    <add value="/Content/images/emojis/mahjong.png" key=":mahjong:" />
    <add value="/Content/images/emojis/clapper.png" key=":clapper:" />
    <add value="/Content/images/emojis/memo.png" key=":memo:" />
    <add value="/Content/images/emojis/pencil.png" key=":pencil:" />
    <add value="/Content/images/emojis/book.png" key=":book:" />
    <add value="/Content/images/emojis/art.png" key=":art:" />
    <add value="/Content/images/emojis/microphone.png" key=":microphone:" />
    <add value="/Content/images/emojis/headphones.png" key=":headphones:" />
    <add value="/Content/images/emojis/trumpet.png" key=":trumpet:" />
    <add value="/Content/images/emojis/saxophone.png" key=":saxophone:" />
    <add value="/Content/images/emojis/guitar.png" key=":guitar:" />
    <add value="/Content/images/emojis/part_alternation_mark.png" key=":part_alternation_mark:" />
    <add value="/Content/images/emojis/shoe.png" key=":shoe:" />
    <add value="/Content/images/emojis/sandal.png" key=":sandal:" />
    <add value="/Content/images/emojis/high_heel.png" key=":high_heel:" />
    <add value="/Content/images/emojis/lipstick.png" key=":lipstick:" />
    <add value="/Content/images/emojis/boot.png" key=":boot:" />
    <add value="/Content/images/emojis/shirt.png" key=":shirt:" />
    <add value="/Content/images/emojis/tshirt.png" key=":tshirt:" />
    <add value="/Content/images/emojis/necktie.png" key=":necktie:" />
    <add value="/Content/images/emojis/dress.png" key=":dress:" />
    <add value="/Content/images/emojis/kimono.png" key=":kimono:" />
    <add value="/Content/images/emojis/bikini.png" key=":bikini:" />
    <add value="/Content/images/emojis/ribbon.png" key=":ribbon:" />
    <add value="/Content/images/emojis/tophat.png" key=":tophat:" />
    <add value="/Content/images/emojis/crown.png" key=":crown:" />
    <add value="/Content/images/emojis/womans_hat.png" key=":womans_hat:" />
    <add value="/Content/images/emojis/closed_umbrella.png" key=":closed_umbrella:" />
    <add value="/Content/images/emojis/briefcase.png" key=":briefcase:" />
    <add value="/Content/images/emojis/handbag.png" key=":handbag:" />
    <add value="/Content/images/emojis/beer.png" key=":beer:" />
    <add value="/Content/images/emojis/beers.png" key=":beers:" />
    <add value="/Content/images/emojis/cocktail.png" key=":cocktail:" />
    <add value="/Content/images/emojis/sake.png" key=":sake:" />
    <add value="/Content/images/emojis/fork_and_knife.png" key=":fork_and_knife:" />
    <add value="/Content/images/emojis/hamburger.png" key=":hamburger:" />
    <add value="/Content/images/emojis/fries.png" key=":fries:" />
    <add value="/Content/images/emojis/spaghetti.png" key=":spaghetti:" />
    <add value="/Content/images/emojis/curry.png" key=":curry:" />
    <add value="/Content/images/emojis/bento.png" key=":bento:" />
    <add value="/Content/images/emojis/sushi.png" key=":sushi:" />
    <add value="/Content/images/emojis/rice_ball.png" key=":rice_ball:" />
    <add value="/Content/images/emojis/rice_cracker.png" key=":rice_cracker:" />
    <add value="/Content/images/emojis/rice.png" key=":rice:" />
    <add value="/Content/images/emojis/ramen.png" key=":ramen:" />
    <add value="/Content/images/emojis/stew.png" key=":stew:" />
    <add value="/Content/images/emojis/bread.png" key=":bread:" />
    <add value="/Content/images/emojis/egg.png" key=":egg:" />
    <add value="/Content/images/emojis/oden.png" key=":oden:" />
    <add value="/Content/images/emojis/dango.png" key=":dango:" />
    <add value="/Content/images/emojis/icecream.png" key=":icecream:" />
    <add value="/Content/images/emojis/shaved_ice.png" key=":shaved_ice:" />
    <add value="/Content/images/emojis/birthday.png" key=":birthday:" />
    <add value="/Content/images/emojis/cake.png" key=":cake:" />
    <add value="/Content/images/emojis/apple.png" key=":apple:" />
    <add value="/Content/images/emojis/tangerine.png" key=":tangerine:" />
    <add value="/Content/images/emojis/watermelon.png" key=":watermelon:" />
    <add value="/Content/images/emojis/strawberry.png" key=":strawberry:" />
    <add value="/Content/images/emojis/eggplant.png" key=":eggplant:" />
    <add value="/Content/images/emojis/tomato.png" key=":tomato:" />
    <add value="/Content/images/emojis/coffee.png" key=":coffee:" />
    <add value="/Content/images/emojis/tea.png" key=":tea:" />
    <add value="/Content/images/emojis/109.png" key=":109:" />
    <add value="/Content/images/emojis/house.png" key=":house:" />
    <add value="/Content/images/emojis/school.png" key=":school:" />
    <add value="/Content/images/emojis/office.png" key=":office:" />
    <add value="/Content/images/emojis/post_office.png" key=":post_office:" />
    <add value="/Content/images/emojis/hospital.png" key=":hospital:" />
    <add value="/Content/images/emojis/bank.png" key=":bank:" />
    <add value="/Content/images/emojis/convenience_store.png" key=":convenience_store:" />
    <add value="/Content/images/emojis/love_hotel.png" key=":love_hotel:" />
    <add value="/Content/images/emojis/hotel.png" key=":hotel:" />
    <add value="/Content/images/emojis/wedding.png" key=":wedding:" />
    <add value="/Content/images/emojis/church.png" key=":church:" />
    <add value="/Content/images/emojis/department_store.png" key=":department_store:" />
    <add value="/Content/images/emojis/city_sunrise.png" key=":city_sunrise:" />
    <add value="/Content/images/emojis/city_sunset.png" key=":city_sunset:" />
    <add value="/Content/images/emojis/japanese_castle.png" key=":japanese_castle:" />
    <add value="/Content/images/emojis/european_castle.png" key=":european_castle:" />
    <add value="/Content/images/emojis/tent.png" key=":tent:" />
    <add value="/Content/images/emojis/factory.png" key=":factory:" />
    <add value="/Content/images/emojis/tokyo_tower.png" key=":tokyo_tower:" />
    <add value="/Content/images/emojis/mount_fuji.png" key=":mount_fuji:" />
    <add value="/Content/images/emojis/sunrise_over_mountains.png" key=":sunrise_over_mountains:" />
    <add value="/Content/images/emojis/sunrise.png" key=":sunrise:" />
    <add value="/Content/images/emojis/stars.png" key=":stars:" />
    <add value="/Content/images/emojis/statue_of_liberty.png" key=":statue_of_liberty:" />
    <add value="/Content/images/emojis/rainbow.png" key=":rainbow:" />
    <add value="/Content/images/emojis/ferris_wheel.png" key=":ferris_wheel:" />
    <add value="/Content/images/emojis/fountain.png" key=":fountain:" />
    <add value="/Content/images/emojis/roller_coaster.png" key=":roller_coaster:" />
    <add value="/Content/images/emojis/ship.png" key=":ship:" />
    <add value="/Content/images/emojis/speedboat.png" key=":speedboat:" />
    <add value="/Content/images/emojis/boat.png" key=":boat:" />
    <add value="/Content/images/emojis/sailboat.png" key=":sailboat:" />
    <add value="/Content/images/emojis/airplane.png" key=":airplane:" />
    <add value="/Content/images/emojis/rocket.png" key=":rocket:" />
    <add value="/Content/images/emojis/bike.png" key=":bike:" />
    <add value="/Content/images/emojis/blue_car.png" key=":blue_car:" />
    <add value="/Content/images/emojis/car.png" key=":car:" />
    <add value="/Content/images/emojis/red_car.png" key=":red_car:" />
    <add value="/Content/images/emojis/taxi.png" key=":taxi:" />
    <add value="/Content/images/emojis/bus.png" key=":bus:" />
    <add value="/Content/images/emojis/police_car.png" key=":police_car:" />
    <add value="/Content/images/emojis/fire_engine.png" key=":fire_engine:" />
    <add value="/Content/images/emojis/ambulance.png" key=":ambulance:" />
    <add value="/Content/images/emojis/truck.png" key=":truck:" />
    <add value="/Content/images/emojis/train.png" key=":train:" />
    <add value="/Content/images/emojis/station.png" key=":station:" />
    <add value="/Content/images/emojis/bullettrain_front.png" key=":bullettrain_front:" />
    <add value="/Content/images/emojis/bullettrain_side.png" key=":bullettrain_side:" />
    <add value="/Content/images/emojis/ticket.png" key=":ticket:" />
    <add value="/Content/images/emojis/fuelpump.png" key=":fuelpump:" />
    <add value="/Content/images/emojis/traffic_light.png" key=":traffic_light:" />
    <add value="/Content/images/emojis/warning.png" key=":warning:" />
    <add value="/Content/images/emojis/construction.png" key=":construction:" />
    <add value="/Content/images/emojis/beginner.png" key=":beginner:" />
    <add value="/Content/images/emojis/atm.png" key=":atm:" />
    <add value="/Content/images/emojis/slot_machine.png" key=":slot_machine:" />
    <add value="/Content/images/emojis/busstop.png" key=":busstop:" />
    <add value="/Content/images/emojis/barber.png" key=":barber:" />
    <add value="/Content/images/emojis/hotsprings.png" key=":hotsprings:" />
    <add value="/Content/images/emojis/checkered_flag.png" key=":checkered_flag:" />
    <add value="/Content/images/emojis/crossed_flags.png" key=":crossed_flags:" />
    <add value="/Content/images/emojis/jp.png" key=":jp:" />
    <add value="/Content/images/emojis/kr.png" key=":kr:" />
    <add value="/Content/images/emojis/cn.png" key=":cn:" />
    <add value="/Content/images/emojis/us.png" key=":us:" />
    <add value="/Content/images/emojis/fr.png" key=":fr:" />
    <add value="/Content/images/emojis/es.png" key=":es:" />
    <add value="/Content/images/emojis/it.png" key=":it:" />
    <add value="/Content/images/emojis/ru.png" key=":ru:" />
    <add value="/Content/images/emojis/gb.png" key=":gb:" />
    <add value="/Content/images/emojis/de.png" key=":de:" />
    <add value="/Content/images/emojis/1.png" key=":1:" />
    <add value="/Content/images/emojis/2.png" key=":2:" />
    <add value="/Content/images/emojis/3.png" key=":3:" />
    <add value="/Content/images/emojis/4.png" key=":4:" />
    <add value="/Content/images/emojis/5.png" key=":5:" />
    <add value="/Content/images/emojis/6.png" key=":6:" />
    <add value="/Content/images/emojis/7.png" key=":7:" />
    <add value="/Content/images/emojis/8.png" key=":8:" />
    <add value="/Content/images/emojis/9.png" key=":9:" />
    <add value="/Content/images/emojis/0.png" key=":0:" />
    <add value="/Content/images/emojis/hash.png" key=":hash:" />
    <add value="/Content/images/emojis/arrow_backward.png" key=":arrow_backward:" />
    <add value="/Content/images/emojis/arrow_down.png" key=":arrow_down:" />
    <add value="/Content/images/emojis/arrow_forward.png" key=":arrow_forward:" />
    <add value="/Content/images/emojis/arrow_left.png" key=":arrow_left:" />
    <add value="/Content/images/emojis/arrow_lower_left.png" key=":arrow_lower_left:" />
    <add value="/Content/images/emojis/arrow_lower_right.png" key=":arrow_lower_right:" />
    <add value="/Content/images/emojis/arrow_right.png" key=":arrow_right:" />
    <add value="/Content/images/emojis/arrow_up.png" key=":arrow_up:" />
    <add value="/Content/images/emojis/arrow_upper_left.png" key=":arrow_upper_left:" />
    <add value="/Content/images/emojis/arrow_upper_right.png" key=":arrow_upper_right:" />
    <add value="/Content/images/emojis/rewind.png" key=":rewind:" />
    <add value="/Content/images/emojis/fast_forward.png" key=":fast_forward:" />
    <add value="/Content/images/emojis/ok.png" key=":ok:" />
    <add value="/Content/images/emojis/new.png" key=":new:" />
    <add value="/Content/images/emojis/top.png" key=":top:" />
    <add value="/Content/images/emojis/up.png" key=":up:" />
    <add value="/Content/images/emojis/cool.png" key=":cool:" />
    <add value="/Content/images/emojis/cinema.png" key=":cinema:" />
    <add value="/Content/images/emojis/koko.png" key=":koko:" />
    <add value="/Content/images/emojis/signal_strength.png" key=":signal_strength:" />
    <add value="/Content/images/emojis/u5272.png" key=":u5272:" />
    <add value="/Content/images/emojis/u55b6.png" key=":u55b6:" />
    <add value="/Content/images/emojis/u6307.png" key=":u6307:" />
    <add value="/Content/images/emojis/u6708.png" key=":u6708:" />
    <add value="/Content/images/emojis/u6709.png" key=":u6709:" />
    <add value="/Content/images/emojis/u6e80.png" key=":u6e80:" />
    <add value="/Content/images/emojis/u7121.png" key=":u7121:" />
    <add value="/Content/images/emojis/u7533.png" key=":u7533:" />
    <add value="/Content/images/emojis/u7a7a.png" key=":u7a7a:" />
    <add value="/Content/images/emojis/sa.png" key=":sa:" />
    <add value="/Content/images/emojis/restroom.png" key=":restroom:" />
    <add value="/Content/images/emojis/mens.png" key=":mens:" />
    <add value="/Content/images/emojis/womens.png" key=":womens:" />
    <add value="/Content/images/emojis/baby_symbol.png" key=":baby_symbol:" />
    <add value="/Content/images/emojis/no_smoking.png" key=":no_smoking:" />
    <add value="/Content/images/emojis/parking.png" key=":parking:" />
    <add value="/Content/images/emojis/wheelchair.png" key=":wheelchair:" />
    <add value="/Content/images/emojis/metro.png" key=":metro:" />
    <add value="/Content/images/emojis/wc.png" key=":wc:" />
    <add value="/Content/images/emojis/secret.png" key=":secret:" />
    <add value="/Content/images/emojis/congratulations.png" key=":congratulations:" />
    <add value="/Content/images/emojis/ideograph_advantage.png" key=":ideograph_advantage:" />
    <add value="/Content/images/emojis/underage.png" key=":underage:" />
    <add value="/Content/images/emojis/id.png" key=":id:" />
    <add value="/Content/images/emojis/eight_spoked_asterisk.png" key=":eight_spoked_asterisk:" />
    <add value="/Content/images/emojis/eight_pointed_black_star.png" key=":eight_pointed_black_star:" />
    <add value="/Content/images/emojis/heart_decoration.png" key=":heart_decoration:" />
    <add value="/Content/images/emojis/vs.png" key=":vs:" />
    <add value="/Content/images/emojis/vibration_mode.png" key=":vibration_mode:" />
    <add value="/Content/images/emojis/mobile_phone_off.png" key=":mobile_phone_off:" />
    <add value="/Content/images/emojis/chart.png" key=":chart:" />
    <add value="/Content/images/emojis/currency_exchange.png" key=":currency_exchange:" />
    <add value="/Content/images/emojis/aries.png" key=":aries:" />
    <add value="/Content/images/emojis/taurus.png" key=":taurus:" />
    <add value="/Content/images/emojis/gemini.png" key=":gemini:" />
    <add value="/Content/images/emojis/cancer.png" key=":cancer:" />
    <add value="/Content/images/emojis/leo.png" key=":leo:" />
    <add value="/Content/images/emojis/virgo.png" key=":virgo:" />
    <add value="/Content/images/emojis/libra.png" key=":libra:" />
    <add value="/Content/images/emojis/scorpius.png" key=":scorpius:" />
    <add value="/Content/images/emojis/sagittarius.png" key=":sagittarius:" />
    <add value="/Content/images/emojis/capricorn.png" key=":capricorn:" />
    <add value="/Content/images/emojis/aquarius.png" key=":aquarius:" />
    <add value="/Content/images/emojis/pisces.png" key=":pisces:" />
    <add value="/Content/images/emojis/ophiuchus.png" key=":ophiuchus:" />
    <add value="/Content/images/emojis/six_pointed_star.png" key=":six_pointed_star:" />
    <add value="/Content/images/emojis/a.png" key=":a:" />
    <add value="/Content/images/emojis/b.png" key=":b:" />
    <add value="/Content/images/emojis/ab.png" key=":ab:" />
    <add value="/Content/images/emojis/o2.png" key=":o2:" />
    <add value="/Content/images/emojis/red_circle.png" key=":red_circle:" />
    <add value="/Content/images/emojis/black_square.png" key=":black_square:" />
    <add value="/Content/images/emojis/white_square.png" key=":white_square:" />
    <add value="/Content/images/emojis/clock1.png" key=":clock1:" />
    <add value="/Content/images/emojis/clock10.png" key=":clock10:" />
    <add value="/Content/images/emojis/clock11.png" key=":clock11:" />
    <add value="/Content/images/emojis/clock12.png" key=":clock12:" />
    <add value="/Content/images/emojis/clock2.png" key=":clock2:" />
    <add value="/Content/images/emojis/clock3.png" key=":clock3:" />
    <add value="/Content/images/emojis/clock4.png" key=":clock4:" />
    <add value="/Content/images/emojis/clock5.png" key=":clock5:" />
    <add value="/Content/images/emojis/clock6.png" key=":clock6:" />
    <add value="/Content/images/emojis/clock7.png" key=":clock7:" />
    <add value="/Content/images/emojis/clock8.png" key=":clock8:" />
    <add value="/Content/images/emojis/clock9.png" key=":clock9:" />
    <add value="/Content/images/emojis/o.png" key=":o:" />
    <add value="/Content/images/emojis/x.png" key=":x:" />
    <add value="/Content/images/emojis/copyright.png" key=":copyright:" />
    <add value="/Content/images/emojis/registered.png" key=":registered:" />
    <add value="/Content/images/emojis/tm.png" key=":tm:" />
    <add value="/Content/images/emojis/shipit.png" key=":shipit:" />
  </emojis>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>