@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2>
        Sorry, an error occurred while processing your request.
    </h2>
    @if (ViewBag.Message != null)
    {
        <!--
            @Html.Raw(ViewBag.Message)
            -->
    }
</body>
</html>