@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Application Offline</title>
</head>
<body>
    <h2>
        Sorry, but Blaze is currently offline. Please use the standard Campfire Client for today and try again tomorrow.
    </h2>    
</body>
</html>