.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
.btn:focus {
  outline: 1px dotted #666;
}
.btn.active, .btn :active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.user .gravatar {
    width: 24px;
}
#preferences .sound {
    background: url('images/sound-on.png') no-repeat;
}
#preferences .sound.off {
    background: url('images/sound-off.png') no-repeat;
}
#preferences .toast {
    background: url('images/toast-on.png') no-repeat;
}
#preferences .toast.off {
    background: url('images/toast-off.png') no-repeat;
}
.users li.typing {
    background-image: url('images/typing.png');
}
.users li.room.locked .lock {
    background: url(images/lock.png) no-repeat;
}
.note.afk {
    background: url(images/stopwatch.png) no-repeat;
}
.note.message {
    background: url(images/clippy.png) no-repeat;
}
#tabs li .close {
    background: url(images/close-icon.png);
}
#tabs li.locked .lock {
    background: url(images/lockwhite.png) no-repeat;
}
#tabs li.locked.current .lock, #tabs li.locked:hover .lock {
    background: url(images/lock.png) no-repeat;
}
#tabs li .close:hover {
    background: url(images/close-icon-hover.png);
}
.collapsible_pin {
    background-image: url('images/pop-out-icon.png');
}
.flag {
    background: url('images/flags.png') no-repeat;
}
#send-message { 
    margin-top: 10px;
    bottom: 10px;
}
#heading {
    background-color: #831f04;
}
#tabs li {
    background-color: #ba3815;
}
#tabs li.lobby {
    background-color: #831f04;
}
#tabs li.lobby.current {
    background-color: #831f04;
}
#new-message {
    height: 32px;
}
#userlist-lobby {
    top: 55px;
}
.banner > div.right {
    float: right ;
    padding-right: 5px;
}
.messages li .right 
{
    width: 55px;
}
.emoji
{
    width: 24px;
    height: 24px;
}
.message .left {
    text-align: right;    
}
.message .left .name {
    padding-right: 20px;
}
#tabs li.active {
    background-color: #e3a031;
}
#tabs li.active:hover {
    background-color: #e5e5e5;
}