html, body
{
    height: 100%;
}
.header-wrap
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.header-container
{
    height: 90px;
}

.tabs
{
    margin: 0 auto;
    position: relative;
    height: 90px;
}

.container
{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    padding-top: 90px;
    padding-bottom: 140px;
}
.content
{
    height: 100%;
    width: auto;
    margin-right: 240px;
    float: left;
}

.sidebar
{
    position: fixed;
    top: 90;
    right: 0;
    width: 240px;
    height: 100%;
}
.footer-wrap
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-container
{
    height: 140px;
}

.footer
{
    width: 100%;
    margin: 0 auto;
    position: relative;
    opacity: 1;
    height: 140px;
}
