html, body
{
    height: 100%;
}
.header-wrap
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.header-container
{
    height: 50px;
}

.header
{
    margin: 0 auto;
    position: relative;
    height: 50px;
    background: white;
}

.chatcontainer
{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    padding-top: 50px;
    padding-bottom: 80px;
}
.content
{
    height: 100%;
    width: auto;
    margin-right: 260px;
    float: left;
}

.sidebar
{
    position: fixed;
    top: 90;
    right: 0;
    width: 240px;
    height: 100%;
}
.footer-wrap
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-container
{
    height: 70px;
}

.footer
{
    width: 100%;
    margin: 0 auto;
    position: relative;
    opacity: 1;
    height: 70px;
    background: white;
    padding-left: 20px;
}

input.username {
    background: url('images/user_12x16.png') no-repeat 10px 5px;
    padding-left: 30px;
}
input.password {
    background: url('images/key_fill_16x16.png') no-repeat 10px 5px;
    padding-left: 30px;
}
