<div id="login-form" style="display: none;">
    <form>
    <div class="modal">
        <div class="modal-header">
            <h3>
                CampFire Login</h3>
        </div>
        <div class="modal-body">
            <div class="clearfix">
                <div class="input">
                    <input type="text" data-bind="value:account" placeholder="Account Name" />
                </div>
            </div>
            <div class="clearfix">
                <div class="input">
                    <input type="text" class="username" data-bind="value:username" placeholder="Username" />
                </div>
            </div>
            <div class="clearfix">
                <div class="input">
                    <input type="password" class="password" data-bind="value:password" placeholder="Password" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-bind="click: login">Login</button>
        </div>
    </div>
    </form>
</div>