<div id="login-form" style="display: none;">
    <form>
    <div class="modal">
        <div class="modal-header">
            <h3>
                Select Campfire Account</h3>
        </div>
        <div class="modal-body">
            <p>
                You have access to multiple Campfire accounts. Please select the account you wish to use.
            </p>           
            <div class="clearfix">
                <label for="acct">Account:</label>
                <span class="input">
                    <select id="acct" data-bind="options: availableAccounts, value: account">
                    </select>
                </span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-bind="click: login, text: loginText, enable: enabled">Login</button>
        </div>
    </div>
    </form>
</div>