<!-- TweetContentProvider: Should be extracted out if other content providers need templates -->
<script id="tweet-template" type="text/x-jquery-tmpl">
    <div class="user">
        <img src="${user.profile_image_url}" />
        <span class="name">${user.screen_name}</span> (${user.name})
    </div>
    {{html text}}
    <time class="js-relative-date" datetime="${created_at}">${created_at}</time> 
</script>
<!-- /TweetContentProvider -->
