@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <link href="@Url.Content("~/Content/reset.css")" rel="Stylesheet" />
        <link href="@Url.Content("~/Content/public.css")" rel="Stylesheet" />
        <title>No Campfire Accounts</title>
    </head>
    <body style="padding: 20px;">
        <h1>No Campfire Accounts</h1>
        <p>
            Unfortunately, this 37 Signals account has no associated Campfire accounts.
        </p>
        <p>
            If you believe this is incorrect, please contact me on twitter: <a href="http://twitter.com/fatal_2">@@fatal_2</a>
        </p>
         <p>
            <a href="/">Back to Home</a>
        </p>
    </body>
</html>