@{
    ViewBag.Title = "Test";
}
<div id="header-wrap">
    <div id="header-container">
        <div id="tabs">
            tab content
        </div>
    </div>
</div>
<div id="ie6-container-wrap">
    <div id="container">
        <div id="content">
            The #container element of this page has a min-height of 100%. That way, if the content requires more height than the viewport provides, the height of #content forces #container to become longer as well. Possible columns in #content can then be visualised with a background image on #container; divs are not table cells, and you don't need (or want) the fysical elements to create such a visual effect. If you're not yet convinced; think wobbly lines and gradients instead of straight lines and simple color schemes.<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content<br />
            main content last line<br />
        </div>
        <div id="sidebar">sidebar</div>
    </div>
    <div id="footer-wrap">
        <div id="footer-container">
            <div id="footer">
                Footer Content
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    html, body
    {
        height: 100%;
    }
    #header-wrap
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    #header-container
    {
        height: 90px;
        background: #88cc22;
    }
    
    #tabs
    {
        background: lightcyan;
        margin: 0 auto;
        position: relative;
        height: 90px;
    }
    
    #container
    {
        height: 100%;
        width: 100%;
        margin: 0 auto;
        overflow: auto;
        padding-top: 90px;
        padding-bottom: 140px;
        
    }
    #content
    {
        height: 100%;
        width: auto;
        margin-right: 240px;
        float: left; 
        background: #cccc66;
    }
    
    #sidebar
    {
        position: fixed;
        top: 90;
        right: 0;
        width: 240px;
        background: #ee99ee;
        height: 100%;
    }
    #footer-wrap
    {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    
    #footer-container
    {
        height: 140px;
    }
    
    #footer
    {
        width: 100%;
        margin: 0 auto;
        position: relative;
        background: #99cc99;
        opacity:1;
        height: 140px;
    }
</style>
